<template>
  <div>
    <nav>
      <div class="contain">
        <div class="logo-box">
          <nuxt-link to="/" class="logo logo-mopcon" />
        </div>
        <ul>
          <li>
            <nuxt-link to="/">
              MOPCON 2019
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              主辦社群
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              講者陣容
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              議程介紹
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              贊助夥伴
            </nuxt-link>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main">
      <nuxt />
    </div>
    <footer>
      <div class="contact">
        <h4>
          聯絡我們
        </h4>
        <nuxt-link class="text-teal-main" to="/">
          contact@mopcon.org
        </nuxt-link>
      </div>
      <div>
        在這裡找到 #MOPCON
      </div>
      <div>
        <nuxt-link to="/" class="logo logo-fb" />
        <nuxt-link to="/" class="logo logo-twitter" />
        <nuxt-link to="/" class="logo logo-ig" />
        <nuxt-link to="/" class="logo logo-telegram" />
      </div>
    </footer>
  </div>
</template>

<style lang="scss" scoped>
nav {
  height: 69px;
  @apply bg-black-main text-white;
  .contain {
    max-width: 1440px;
    @apply flex items-center mx-auto h-full;
  }
  .logo-box {
    width: 40%;
    @apply pl-16;
  }
  .logo {
    width: 140px;
    height: 20px;
    @apply mt-1;
  }
  ul {
    width: 60%;
    @apply flex h-full justify-around items-center;
  }
  li a:hover {
    @apply text-teal-main border-b border-teal-main;
  }
}
.main {
  min-height: calc(100vh - 160px - 69px);
}
footer {
  height: 160px;
  @apply bg-black-main text-white flex justify-center items-center text-lg;
  h4 {
    @apply mr-4;
  }
  div {
    @apply flex ml-4;
  }
  .contact {
    @apply mr-12;
  }
  a {
    @apply leading-6;
    &.logo {
      @apply w-6 h-6 mr-4;
    }
    &:hover:not(.logo) {
      @apply border-b border-teal-main;
    }
  }
}
.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @apply inline-block;
  &-mopcon {
    background-image: url('~@/assets/base/logo-mopcon.svg');
  }
  &-fb {
    background-image: url('~@/assets/base/logo-fb.svg');
  }
  &-twitter {
    background-image: url('~@/assets/base/logo-twitter.svg');
  }
  &-ig {
    background-image: url('~@/assets/base/logo-ig.svg');
  }
  &-telegram {
    background-image: url('~@/assets/base/logo-telegram.svg');
  }
}
@screen lg {
  nav {
    .logo-box {
      width: 50%;
    }
    ul {
      width: 50%;
      padding-right: 5vw;
    }
  }
}
</style>
